:root {
  --main-color: #4070f4;
}
::selection {
  background-color: var(--main-color);
}
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}
header {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  align-items: center;
}
button {
  border: none;
  background-color: transparent;
}
button i {
  font-size: 20px;
  color: var(--main-color);
  cursor: pointer;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  color: var(--main-color);
}

a {
  text-decoration: none;
  margin: 30px;
  color: black;
  font-weight: bold;
  transition: .3s;
}
header .logo a {
  margin: 0;
}
.parent header .nav a:nth-child(3) {
  color: var(--main-color);
}

.parent header .nav a:hover {
  color: var(--main-color);
}

.pop {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  -webkit-transition: max-height 0.5s ease, opacity 0.5s ease;
  -moz-transition: max-height 0.5s ease, opacity 0.5s ease;
  -ms-transition: max-height 0.5s ease, opacity 0.5s ease;
  -o-transition: max-height 0.5s ease, opacity 0.5s ease;
}
.pop.show {
  max-height: 700px;
  opacity: 1;
}

.learn {
  margin: 30px;
}
.resources {
  width: 700px;
  margin: auto;
  line-height: 1.6;
}
.learn h2 {
  margin: 20px;
  border-bottom: 5px solid var(--main-color);
  border-radius: 5px;
  width: fit-content;
}
.learn a {
  margin: 0;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
ul {
  list-style-type: none;
}
ul li {
  background-color: #eee;
  margin: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
ul li:hover {
  background-color: var(--main-color);
  color: white;
}
ul li a {
  background-color: var(--main-color);
  padding: 2px 7px;
  color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
ul li:hover a {
  color: black;
  background-color: #eee;
}
ul h3 {
  font-size: 20px;
}
.skill {
  position: relative;
}
.btn {
  position: absolute;
  top: 0;
  right: 0;
}
.summaries {
  width: 700px;
  margin: 30px auto;
}
h1 {
  text-align: center;
  margin: 40px 0 20px;
}
.summaries a {
  padding: 6px 12px;
}
span {
  font-size: 18px;
}

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .nav a {
    margin: 5px;
  }

  .learn, .resources, .summaries {
    width: 85%;
    margin: auto;
  }
}