
:root {
  --main-color: #4070f4;
}
::selection {
  background-color: var(--main-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}
header {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  color: var(--main-color);
}
a {
  text-decoration: none;
  margin: 30px;
  color: black;
  font-weight: bold;
  transition: .3s;
}
.parent header .nav a:first-child {
  color: var(--main-color);
}
.parent header .nav a:hover {
  color: var(--main-color);
}
header .logo a {
  margin: 0;
}
.accounts i {
  font-size: 20px;
  margin: 20px 5px;
  background-color: var(--main-color);
  color: white;
  padding: 8px;
  border-radius: 7px;
  cursor: pointer;
}
.content {
  margin: 30px;
  line-height: 1.6;
}
.content .sec-one {
  position: relative;
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 25px;
  margin: auto;
  text-align: center;
  z-index: 1;
}
.sec-one::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #4070f4;
  height: 139px;
  top: 0;
  left: 0;
  border-radius: 24px 24px 0 0;
  z-index: -1;
}
.content .sec-one .profile-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: var(--main-color);
  padding: 2px;
  margin-bottom: 10px;
}
/* responsive */
@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .nav a {
    margin: 5px;
  }
  .about-section {
    width: 90%;
    margin: auto;
  }
}