:root {
  --main-color: #4070f4;
}
::selection {
  background-color: var(--main-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}
header {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  color: var(--main-color);
}
a {
  text-decoration: none;
  margin: 30px;
  color: black;
  font-weight: bold;
  transition: .3s;
}
.parent header .nav a:nth-child(2) {
  color: var(--main-color);
}
.parent header .nav a:hover {
  color: var(--main-color);
}
header .logo a {
  margin: 0;
}

/* End Basics */
.about-section {
  display: flex;
  justify-content: center;
}
.about-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 340px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
}
.about-card:hover {
  transform: translateY(10px);
}
.about-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #eee;
}
.about-card h2 {
  margin: 10px 0;
  font-size: 24px;
}
.about-card p {
  color: #333;
  line-height: 1.6;
}
.about-content {
  margin-top: 10px;
}
.skills {
  max-width: 600px;
  margin: auto;
  margin: 0 auto 100px;
}
.skills h1 {
  margin: 100px auto 30px;
  width: 175px;
  font-size: 40px;
}
.skill {
  margin-bottom: 20px;
  position: relative;
}

.skill-name {
  font-size: 20px;
  margin-bottom: 5px;
}

.skill-bar {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.skill-level {
  height: 20px;
  border-radius: 5px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
  color: white;
  font-weight: bold;
}

.skill-level-HTML {
  width: 90%;
  animation: fillSkillHTML 2s ease-out;
}

.skill-level-CSS {
  width: 85%;
  animation: fillSkillCSS 2s ease-out;
}

.skill-level-JS {
  width: 75%;
  animation: fillSkillJS 2s ease-out;
}

.skill-level-SQL {
  width: 65%;
  animation: fillSkillSQL 2s ease-out;
}

/* Animation */
@keyframes fillSkillHTML {
  from {
    width: 0;
  }

  to {
    width: 90%;
  }
}

@keyframes fillSkillCSS {
  from {
    width: 0;
  }

  to {
    width: 85%;
  }
}

@keyframes fillSkillJS {
  from {
    width: 0;
  }

  to {
    width: 75%;
  }
}

@keyframes fillSkillSQL {
  from {
    width: 0;
  }

  to {
    width: 65%;
  }
}

/* Responsive */
@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .nav a {
    margin: 5px;
  }

  .about-section, .skills {
    width: 85%;
    margin: auto;
  }
}


